<div class="content d-flex flex-column flex-column-fluid">
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="nav-icon">
                            <span class="svg-icon">
                                <!--begin::Svg Icon | path:/metronic/theme/html/demo5/dist/assets/media/svg/icons/Design/Layers.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                        <path
                                            d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z"
                                            fill="#000000" fill-rule="nonzero"></path>
                                        <path
                                            d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z"
                                            fill="#000000" opacity="0.3"></path>
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </span>
                        <label>First</label>
                    </ng-template>
                    <div class="tab-pane show px-7">
                        <!--begin::Row-->
                        <div class="row">
                            <div class="col-xl-2"></div>
                            <div class="col-xl-7 my-2">
                                <div class="form-group row"></div>
                                <!--begin::Group-->
                                <div class="form-group row">
                                    <label class="col-form-label col-3 text-lg-right text-left">In-house Id</label>
                                    <div class="col-9">
                                        <input class="form-control form-control-lg form-control-solid" type="text"
                                            value="ER18072A07">
                                    </div>
                                </div>
                                <!--end::Group-->
                                <!--begin::Group-->
                                <div class="form-group row">
                                    <label class="col-form-label col-3 text-lg-right text-left">Status</label>
                                    <div class="col-9">
                                        <select class="form-control form-control-lg form-control-solid">
                                            <option>-- Select --</option>
                                            <option value="1" selected>MccClassify</option>
                                            <option value="2">Test1</option>
                                            <option value="3">Test2</option>
                                        </select>
                                    </div>
                                </div>
                                <!--end::Group-->
                                <!--begin::Group-->
                                <div class="form-group row">
                                    <label class="col-form-label col-3 text-lg-right text-left">Platform</label>
                                    <div class="col-9">
                                        <select class="form-control form-control-lg form-control-solid">
                                            <option>-- Select --</option>
                                            <option value="1" selected>Linear</option>
                                            <option value="2">Test1</option>
                                            <option value="3">Test2</option>
                                        </select>
                                    </div>
                                </div>
                                <!--end::Group-->
                                <!--begin::Group-->
                                <div class="form-group row">
                                    <label class="col-form-label col-3 text-lg-right text-left">Priority</label>
                                    <div class="col-9">
                                        <select class="form-control form-control-lg form-control-solid">
                                            <option>-- Select --</option>
                                            <option value="1" selected>Normal</option>
                                            <option value="2">Test1</option>
                                            <option value="3">Test2</option>
                                        </select>
                                    </div>
                                </div>
                                <!--end::Group-->
                                <!--begin::Group-->
                                <div class="form-group row">
                                    <label class="col-form-label col-3 text-lg-right text-left">Quality</label>
                                    <div class="col-9">
                                        <select class="form-control form-control-lg form-control-solid">
                                            <option>-- Select --</option>
                                            <option value="1" selected>OK</option>
                                            <option value="2">Test1</option>
                                            <option value="3">Test2</option>
                                        </select>
                                    </div>
                                </div>
                                <!--end::Group-->
                                <!--begin::Group-->
                                <div class="form-group row">
                                    <label class="col-form-label col-3 text-lg-right text-left">Branding</label>
                                    <div class="col-9">
                                        <select class="form-control form-control-lg form-control-solid">
                                            <option>-- Select --</option>
                                            <option value="1" selected>None</option>
                                            <option value="2">Test1</option>
                                            <option value="3">Test2</option>
                                        </select>
                                    </div>
                                </div>
                                <!--end::Group-->
                                <!--begin::Group-->
                                <div class="form-group row">
                                    <label class="col-form-label col-3 text-lg-right text-left">Expires</label>
                                    <div class="col-9">
                                        <div class="checkbox-inline">
                                            <label class="checkbox">
                                                <input type="checkbox" checked="checked">
                                                <span></span>No</label>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <span></span>Yes</label>
                                            <mat-form-field appearance="fill">
                                                <mat-label>Choose a date</mat-label>
                                                <!-- #docregion toggle -->
                                                <input matInput [matDatepicker]="picker">
                                                <mat-datepicker-toggle matSuffix [for]="picker">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                                <!-- #enddocregion toggle -->
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Group-->
                                <!--begin::Group-->
                                <div class="form-group row">
                                    <label class="col-form-label col-3 text-lg-right text-left">Language</label>
                                    <div class="col-9">
                                        <select class="form-control form-control-lg form-control-solid">
                                            <option>-- Select --</option>
                                            <option value="1" selected>English</option>
                                            <option value="2">Test1</option>
                                            <option value="3">Test2</option>
                                        </select>
                                    </div>
                                </div>
                                <!--end::Group-->
                                <!--begin::Group-->
                                <div class="form-group row">
                                    <label class="col-form-label col-3 text-lg-right text-left">Coop
                                        Script</label>
                                    <div class="col-9">
                                        <div class="input-group input-group-lg input-group-solid">
                                            <input type="text" class="form-control form-control-lg form-control-solid"
                                                value="None">
                                        </div>
                                    </div>
                                </div>
                                <!--end::Group-->
                                <!--begin::Group-->
                                <div class="form-group row">
                                    <label class="col-form-label col-3 text-lg-right text-left">Notes</label>
                                    <div class="col-9">
                                        <div class="input-group input-group-lg input-group-solid">
                                            <textarea
                                                class="form-control form-control-lg form-control-solid"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Group-->
                            </div>
                        </div>
                        <!--end::Row-->
                    </div>

                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="nav-icon">
                            <span class="svg-icon">
                                <!--begin::Svg Icon | path:/metronic/theme/html/demo5/dist/assets/media/svg/icons/Design/Layers.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                        <path
                                            d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z"
                                            fill="#000000" fill-rule="nonzero"></path>
                                        <path
                                            d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z"
                                            fill="#000000" opacity="0.3"></path>
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </span>
                        <label>Second</label>
                    </ng-template>
                    <div class="tab-pane px-7">
                        <div class="row">
                            <div class="col-xl-2"></div>
                            <div class="col-xl-8">
                                <div class="my-2">
                                    <div class="row">
                                        <label class="col-form-label col-3 text-lg-right text-left"></label>
                                        <div class="col-9">
                                            <h6 class="text-dark font-weight-bold mb-7">Classification:</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-2"></div>
                            <div class="col-xl-8">
                                <div class="form-group row">
                                    <label class="col-form-label col-3 text-lg-right text-left"></label>
                                    <div class="col-9">
                                        <div class="checkbox-inline mb-2">
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <span></span>Unrestricted - No Threat</label>
                                        </div>
                                        <div class="checkbox-inline mb-2">
                                            <label class="checkbox">
                                                <input type="checkbox" checked="checked">
                                                <span></span>Restricted</label>
                                        </div>
                                        <div class="checkbox-inline mb-2">
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <span></span>Political</label>
                                        </div>
                                        <div class="checkbox-inline mb-2">
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <span></span>Legal</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="separator separator-dashed mb-10"></div>
                        <div class="row">
                            <div class="col-xl-2"></div>
                            <div class="col-xl-8">
                                <div class="form-group row">
                                    <label class="col-form-label col-3 text-lg-right text-left"></label>
                                    <div class="col-9">
                                        <div class="checkbox-inline mb-2">
                                            <label class="checkbox checkbox-success">
                                                <input type="checkbox">
                                                <span></span>900 Phone Line - Chat Lines/Dating services - Free for Use
                                                Websites*</label>
                                        </div>
                                        <div class="checkbox-inline mb-2">
                                            <label class="checkbox checkbox-success">
                                                <input type="checkbox">
                                                <span></span>Test1</label>
                                        </div>
                                        <div class="checkbox-inline mb-2">
                                            <label class="checkbox checkbox-success">
                                                <input type="checkbox">
                                                <span></span>Test2</label>
                                        </div>
                                        <div class="checkbox-inline mb-2">
                                            <label class="checkbox checkbox-success">
                                                <input type="checkbox">
                                                <span></span>Test3</label>
                                        </div>
                                        <div class="checkbox-inline mb-2">
                                            <label class="checkbox checkbox-success">
                                                <input type="checkbox" checked="checked">
                                                <span></span>Test4</label>
                                        </div>
                                        <div class="checkbox-inline mb-2">
                                            <label class="checkbox checkbox-success">
                                                <input type="checkbox">
                                                <span></span>Test5</label>
                                        </div>
                                        <div class="checkbox-inline mb-2">
                                            <label class="checkbox checkbox-success">
                                                <input type="checkbox">
                                                <span></span>Test6</label>
                                        </div>
                                        <div class="checkbox-inline mb-2">
                                            <label class="checkbox checkbox-success">
                                                <input type="checkbox">
                                                <span></span>Test6</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="nav-icon">
                            <span class="svg-icon">
                                <!--begin::Svg Icon | path:/metronic/theme/html/demo5/dist/assets/media/svg/icons/Design/Layers.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                        <path
                                            d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z"
                                            fill="#000000" fill-rule="nonzero"></path>
                                        <path
                                            d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z"
                                            fill="#000000" opacity="0.3"></path>
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </span>
                        <label>Third</label>
                    </ng-template>
                    <div class="tab-pane show px-7">
                        <!--begin::Row-->
                        <div class="row">
                            <div class="col-xl-2"></div>
                            <div class="col-xl-7 my-2">
                                <div class="form-group row"></div>
                                <!--begin::Group-->
                                <div class="form-group row">
                                    <label class="col-form-label col-3 text-lg-right text-left">Ops Center</label>
                                    <div class="col-4">
                                        <select class="form-control form-control-lg form-control-solid">
                                            <option>-- Select --</option>
                                            <option value="1" selected>South</option>
                                            <option value="2">Test1</option>
                                            <option value="3">Test2</option>
                                        </select>
                                    </div>
                                    <label class="col-form-label col-2 text-lg-right text-left">Duration</label>
                                    <input class="form-control col-2 form-control-lg form-control-solid" type="text"
                                        value="30">
                                </div>
                                <!--end::Group-->
                                <!--begin::Group-->
                                <div class="form-group row">
                                    <label class="col-form-label col-3 text-lg-right text-left">Provider
                                        Resolution</label>
                                    <div class="col-4">
                                        <select class="form-control form-control-lg form-control-solid">
                                            <option>-- Select --</option>
                                            <option value="1" selected>HD</option>
                                            <option value="2">Test1</option>
                                            <option value="3">Test2</option>
                                        </select>
                                    </div>
                                    <label class="col-form-label col-2 text-lg-right text-left">Source Type</label>
                                    <select class="form-control col-2 form-control-lg form-control-solid">
                                        <option>-- Select --</option>
                                        <option value="1" selected>FTP</option>
                                        <option value="2">Test1</option>
                                        <option value="3">Test2</option>
                                    </select>
                                </div>
                                <!--end::Group-->
                                <!--begin::Group-->
                                <div class="form-group row">
                                    <label class="col-form-label col-3 text-lg-right text-left">ISCI</label>
                                    <div class="col-4">
                                        <input class="form-control form-control-lg form-control-solid" type="text"
                                            value="SS17SPRB30H">
                                    </div>
                                    <label class="col-form-label col-2 text-lg-right text-left">Provider</label>

                                    <select class="form-control col-2 form-control-lg form-control-solid">
                                        <option>-- Select --</option>
                                        <option value="1" selected>ER</option>
                                        <option value="2">Test1</option>
                                        <option value="3">Test2</option>
                                    </select>
                                </div>
                                <!--end::Group-->
                                <!--begin::Group-->
                                <div class="form-group row">
                                    <label class="col-form-label col-3 text-lg-right text-left">Product</label>
                                    <div class="col-9">
                                        <select class="form-control form-control-lg form-control-solid">
                                            <option>-- Select --</option>
                                            <option value="1">Test</option>
                                            <option value="2">Test1</option>
                                            <option value="3">Test2</option>
                                        </select>
                                    </div>
                                </div>
                                <!--end::Group-->
                                <!--begin::Group-->
                                <div class="form-group row">
                                    <label class="col-form-label col-3 text-lg-right text-left">Title</label>
                                    <div class="col-9">
                                        <div class="input-group input-group-lg input-group-solid">
                                            <input type="text" class="form-control form-control-lg form-control-solid"
                                                value="Spring Flowers B 30">
                                        </div>
                                    </div>
                                </div>
                                <!--end::Group-->
                                <!--begin::Group-->
                                <div class="form-group row">
                                    <label class="col-form-label col-3 text-lg-right text-left">Customer</label>
                                    <div class="col-9">
                                        <div class="input-group input-group-lg input-group-solid">
                                            <input type="text" class="form-control form-control-lg form-control-solid"
                                                value="Stanley Steemer">
                                        </div>
                                    </div>
                                </div>
                                <!--end::Group-->
                                <!--begin::Group-->
                                <div class="form-group row">
                                    <label class="col-form-label col-3 text-lg-right text-left">Producer</label>
                                    <div class="col-9">
                                        <div class="input-group input-group-lg input-group-solid">
                                            <input type="text" class="form-control form-control-lg form-control-solid"
                                                value="">
                                        </div>
                                    </div>
                                </div>
                                <!--end::Group-->
                                <!--begin::Group-->
                                <div class="form-group row">
                                    <label class="col-form-label col-3 text-lg-right text-left">Agency</label>
                                    <div class="col-9">
                                        <div class="input-group input-group-lg input-group-solid">
                                            <input type="text" class="form-control form-control-lg form-control-solid"
                                                value="Stanley Steemer International">
                                        </div>
                                    </div>
                                </div>
                                <!--end::Group-->
                                <!--begin::Group-->
                                <div class="form-group row">
                                    <label class="col-form-label col-3 text-lg-right text-left">Provider Notes</label>
                                    <div class="col-9">
                                        <div class="input-group input-group-lg input-group-solid">
                                            <textarea
                                                class="form-control form-control-lg form-control-solid"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Group-->
                            </div>
                        </div>
                        <!--end::Row-->
                    </div>

                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>